* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

/*Header*/

#header {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: solid 1px grey;
}

.container {
	margin: 150px;
}

#header-photo {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 500px;
    height: 500px;
}

#phrase-container {
	border-bottom: solid black 1px;
}

#fruition-logo {
	height: 145px;
	width: 305px;
}

/*Main Container*/

#main {
	background-color: #FFFCFC;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
}

#main h1 {
	color: grey;

}

/*The 5 Steps to Fruition Row*/

#steps-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 100px;
	height: 30vh;	 
}
/*Cogs Shape by David Dietle https://codepen.io/ddietle/pen/bZPkKW*/

.spoke {
  background-color: grey;
  position: absolute;
  height: 175px;
  width:30px;
  margin-left: -15px;
  margin-top: -12.5px;
  left: 50%;
  border-radius: 5px;
  z-index: 10;
}

.spoke + .spoke {
  transform: rotateZ(45deg);
}

.spoke + .spoke + .spoke {
  transform: rotateZ(-45deg);
}

.spoke + .spoke + .spoke + .spoke {
  transform: rotateZ(90deg);
}

.cog {
  position:relative;
  background-color: grey;
  margin: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 10;
  animation-duration: 3s;
  animation-name: mymove;
  /*left: 200px;*/
}

#steps-container .cog {
	animation-delay: 0.1s;
}

#steps-container .cog + .cog {
	animation-delay: 0.3s;
}

#steps-container .cog + .cog + .cog {
	animation-delay: 0.4s;
}

#steps-container .cog + .cog  +.cog {
	animation-delay: 0.5s;
}

#steps-container .cog + .cog +.cog + .cog {
	animation-delay: 0.6s;
}

#steps-container .cog + .cog +.cog + .cog + .cog {
	animation-delay: 0.8s;
}

@keyframes mymove {
	from {
		left: -100px;
	}

	to {
		left: 0px;
	}
}

.step {
  position: relative;
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#unlock {
  background-color: yellow;
}

#explore {
  background-color: teal;
}

#plan {
  background-color: green;
}

#build {
  background-color: pink;
}

#launch {
  background-color: white;
}

.step p {
	font-size: 18px;
	font-weight: bold;
}

/*Center Page*/

#mission-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1D1D1;
	width: 100%;
	padding: 20px;
	box-shadow: 10px 10px 8px #888888;
}

#mission {
	font-family: 'Montserrat', sans-serif;
	color: black;
	width: 40%;
	height: 40vh;
	padding: 30px;
	border-radius: 5%;
	background-color: #D1D1D1;
	display: flex;
	align-items: center;
}

#business-container {
	margin: 3px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.panel {
	height: 120vh;
	width: 50%;
	border:solid grey 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#business-container :hover {
	transition: transform 0.1s;
	transform: scale(1.01, 1.01);
}

.panel a {
	color: black;
	text-decoration: none;
	font-size: 20px
}

#startup {
	background-image: url(startup.png);
	background-size: cover;
}

#transform {
	background-image: url(transform.png);
	background-size: cover;
}

/*Clients container*/

#clients-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#clients {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 800px;
}

.client {
	margin: 10px;
}

.client a img {
	width: 100px;
	height: 100px;
}

.client a {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: black;
	text-decoration: none;
}

/*Collaboration container*/

#collaboration-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#collaboration {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.collaborator {
	margin: 10px;
}

.collaborator a {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: black;
	text-decoration: none;
}


/*Footer*/

#footer {
	background-color: #504F4F;
	height: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#social-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fa {
	padding: 20px;
}

/*Responsive Queries*/

@media only screen and (max-width: 1200px) {
	#header {
		width: 1000px;
	}
	.container {
	margin: 5px;
	}
	.cog {
		margin: 20px;
	}
}

@media only screen and (max-width: 1000px) {
	#header {
		width: 100%;
	}
	.container {
		margin: 10px;
	}
	.spoke {
		height: 125px;
	}
	.cog {
		margin: 20px;
		width: 100px;
		height: 100px;
	}
	.step {
		height:80px;
		width: 80px;
	}
	#clients {
	width: 600px;
	flex-wrap: wrap;
	}

}

@media only screen and (max-width: 800px) {
	#header {
		height: 300px;
		width: 100%;
	}
	#header-photo {
	    width: 200px;
	    height: 300px;
	}
	#fruition-logo {
		height: 95px;
		width: 195px;
	}
	#head-right {
		height: 140px;
		margin-top: -100px;
	}
	#phrase-container h2 {
		font-size: 18px;
		font-weight: bold;
	}
	.container {
		margin: 0px;
	}
	#business-container {
	display: flex;
	flex-direction: column;
	}
	.panel {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	#clients {
	width: 300px;
	}
	#collaboration-container {
	width: 300px;
	}
}